*{
    font-family:verdana;
    box-sizing:border-box;
    margin:0;
    padding:0;
  }
  
  
  
  
  nav ul {
        background:black;
        width:100%;
        padding:11px;
        margin-top:5px;
        
        
  }
  
  nav{
    position:sticky;
        top:0;
  }
  
  
  ul{
      margin:0;
      paddimg:0;
      display:flex;
      justify-content:center;
      gap:33px;
  }
  li{
      list-style:none;
      color:white;
      text-transform:capitalize;
      cursor:pointer;
  }
  
  li:hover{
    background-color:red;
    padding:0px;
  }
  .colour_section{
            display:flex;
            gap:10px;
  }
  
  
  .left_section{
               
               width:100px;
               height:auto;
               display:flex;
               flex-direction:column;
               gap:15px;
  }
  
  .item_section{
      
       height:1000px;
  }
  .colour_section{
     border-bottom:1px solid gainsboro;
       padding:22px;
  }
  #pic{
           width:364px;
          
  }
  
  img{
       
       
  }
  .bold{
       font-size:22px;
       font-weight:bold;
       display:flex;
       justify-content:space-between;
       border-bottom:1px solid gainsboro;
       padding:22px;
  }
  #Grey,#Lightblue,#Beige{
          border-radius:100%;
          border:none;
          width:30px;
          height:30px;
          cursor:pointer;
         
  }
  #Grey{
    background:grey;
  } 
  #Lightblue{
      background:lightblue;
  }
  #Beige{
        background: beige;
  }
  
  
  img{
    display:block;
  }
  .text_section{
            width:700px;
            height:auto;
           
           padding:11px;
  }
  
  .item_content{
          display:flex;
          margin:45px 40px;
          gap:35px;
  }
  .container{
          display:flex;
          flex-wrap:wrap;
         
          width:100%;
  }
  .gallery_section{
              margin-top:45px;
  }
  h3{
     font-size:17px;
  }
  .container img{
       height:100%;
       
  }
  
  .image{
       flex:1 0 33%;
       margin-bottom:60px;
       margin-top:12px;
      
  }
  #color{
           font-weight:900;
  }
  .text, .price{
        font-size:12px;
  }
  .price{
         font-weight:900;
         margin-bottom:11px;
         margin-top:7px;
  }
  .text{
          width:160px;
          margin-top:10px;
         
  }
  .left_section img{
           
  }
  .pics{
      border:none;
  }
  
  .square{
        border:2px solid black;
  }
  